 /*Позиционирование*/

        .main {
            float: left;
        }
        #aside {
            float: right;
        }
        .footer {
            clear: both;
        }
        .maincontainer {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .footercontainer {
            display: flex;
            flex-direction: row;
            align-items: center; /*Я не понимаю, почему это свойство не работает*/
            justify-content: space-around;
        }
        
        /*Блочная модель*/

        #header {
            box-sizing: border-box;
            height: 10vh;
            width: 100%;
            padding: 1%;
        }
        .main {
            box-sizing: border-box;
            height: 60vh;
            width: 70%;
            margin: 0;
        }
        #aside {
            box-sizing: border-box;
            height: 60vh;
            width: 30%;
            margin: 0;
            padding: 2%;
        }
        .footer {
            box-sizing: border-box;
            height: 20vh;
            width: 100vw;
        }
        .mainpart12 {
            box-sizing: border-box;
            height: 13vh;
            width: 45%;
            margin: 2%;
            padding: 3%;
        }
        .mainpart3 {
            box-sizing: border-box;
            height: 13vh;
            width: 95%;
            margin: 2%;
            padding: 3%;
        }
        #mainpart {
            box-sizing: border-box;
            height: 20vh;
            width: 90%;
            margin: 2%;
            padding: 3%;
        }
        .footerpart {
            box-sizing: border-box;
            height: 10vh;
            width: 20%;
            padding: 2%;
        }
        .footercontainer {
            box-sizing: border-box;
            height: 100%;
        }

        /*Типографика*/

        body {
            font-family: Arial, sans-serif; 
            font-weight: bold;
            text-align: center;
        }

        /*Оформление*/

        #header {
            background-color: rgb(175, 174, 174);
        }
        .main {
            background-color: blanchedalmond;
        }
        .mainpart12 {
            background-color: burlywood;
        }
        .mainpart3 {
            background-color: burlywood;
        }
        #aside {
            background-color: rgb(195, 255, 195);
        }
        .footer {
            background-color: rgb(175, 174, 174);
        }
        .footerpart {
            background-color: rgb(245, 245, 245);
        }
